@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  color: #1a181e;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif !important;
  /* font-family: "Poppins", sans-serif; */
}

body {
  background-color: #f5f5f5;
  /* overflow-x: hidden; */
}